@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

body {
    
    background-color: #f8f3e9;
    color: #3b9407;
}

.talleristas {
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
}

.tallerista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    position: relative;
}

.tallerista > div {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    font-family: 'Playfair Display', serif;
}

.tallerista-principal {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 30px;
    animation-delay: 0.3s;
    position: relative;
    z-index: 1;
}

.tallerista-principal img {
    max-width: 250px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgb(58, 71, 3), rgba(0, 0, 0, 0));
    transition: transform 0.3s ease;
    ;
}

.tallerista-principal img:hover {
    transform: scale(1.1);
}

.tallerista-principal h2 {
    font-size: 32px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.tallerista-secundario {
    flex: 1 1 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.tallerista-secundario img {
    max-width: 200px;
    

    opacity: 70%; /* Opacidad reducida para hacerla más oscura */

    animation: bounceUpDown 2s ease-in-out infinite;
    position: relative; /* Para poder ajustar la posición */
    top: -40px; /* Ajusta esta cantidad según sea necesario */
}

@keyframes bounceUpDown {
    0%, 100% {
        transform: translateY(0); /* Empieza y termina en la posición original */
    }
    50% {
        transform: translateY(-10px); /* Al 50% de la animación, rebota hacia arriba */
    }
}



.tallerista-info {
    flex: 1 1 100%;
    text-align: center;
    padding: 20px;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-top: -60px; /* Ajusta esta cantidad según sea necesario para acercar el lema */
}

.tallerista-info p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.6;
}

.tallerista-info .info-label {
    font-weight: 700;
    color: #4c580b;
    display: block;
    margin-bottom: 5px;
}

.tallerista-info .info-content {
    display: block;
}

.tallerista-info .lema {
    font-style: italic;
    color: #8ab80c;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .tallerista {
        flex-wrap: nowrap;
    }
    .tallerista-principal {
        flex: 0 0 50%;
        order: 2;
    }
    
    .tallerista-principal img {
        max-width: 350px;
    }
    .tallerista-secundario {
        flex: 0 0 25%;
        order: 1;
        position: static;
    }
    .tallerista-secundario img {
        max-width: 350px;

        position: relative; /* Para poder ajustar la posición */
        top: -80px; /* Ajusta esta cantidad según sea necesario */
    }
    .tallerista-info {
        flex: 0 0 25%;
        order: 3;
        text-align: left;
        margin-top: 0;
        position: relative; /* Para poder ajustar la posición */
        top: -80px; /* Ajusta esta cantidad según sea necesario */
    }
}
